.curso-para-profissional {
    background: #B7B7B728 0% 0% no-repeat padding-box;
    border-radius: 28px 28px 0px 0px;
    opacity: 1;
    display: flex;
    padding: 82px 87px 99px 87px;

    >.col-1 {
        width: 50%;
        padding-right: 30px;

        >.bread-crumb {
            font-weight: 600;
            font-size: 14px;
            color: #000000;
            margin-bottom: 41px;
            display: flex;
            align-items: center;
            gap: 12px;
        }

        >h1 {
            color: #000000;
        }

        >.info-curso {
            display: flex;
            align-items: center;
            margin: 30px 0 54px;
            gap: 27px;

            >p {
                color: #030032;
                font-weight: 600;
                font-size: 20px;
                display: flex;
                align-items: center;
                gap: 7px;
                line-height: 27px;
            }
        }

        >.btn-actions {
            display: flex;
            align-items: center;
            gap: 8px;

            >h3 {
                letter-spacing: 0px;
                color: #000000;

                &.preco-real {
                    text-decoration: line-through;
                }

                &.desconto {
                    font-weight: bold;
                    font-size: 44px;
                    padding-right: 12px;
                }
            }
        }
    }

    >.col-2 {
        width: 50%;

        >.fundo-prof {
            position: absolute;
            width: 563px;
            height: 566px;
            background: transparent url('/assets/images/agente-conservacao.png') 0 0 / cover no-repeat;
            opacity: 1;
            background-position: center;
            background-size: contain;
        }
    }
}

.inscricao {
    height: 196px;
    background: #030032 0% 0% no-repeat padding-box;
    border-radius: 0px 0px 24px 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 65px 87px 28px;

    >form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 14px;

        >.campos {
            display: flex;
            gap: 16px;
            align-items: center;

            >input {
                padding: 15px 30px 15px 30px;
                width: 196px;
                background: #FFFFFF 0% 0% no-repeat padding-box;
                border: 2px solid #F8C51C;
                border-radius: 10px;
                opacity: 1;
                font-size: 18px;
                font-weight: 600;
                line-height: 36px;
                letter-spacing: 0.36px;

                &::placeholder {
                    font-size: 18px;
                    font-weight: 600;
                    line-height: 36px;
                    letter-spacing: 0.36px;
                }
            }

            >button {
                cursor: pointer;
                width: 245px;
                height: 67px;
                background: #F8C51C 0% 0% no-repeat padding-box;
                border-radius: 34px;
                opacity: 1;
                font-size: 16px;
                font-weight: 600;
                line-height: 22px;
                color: #030032;
            }
        }

        >.custom-checkbox {
            display: flex;
            align-items: center;
            gap: 2px;
            justify-content: center;
            letter-spacing: 0.28px;
            color: #FFFFFF;

            >p,
            >p>a {
                color: #FFFFFF;
                font-size: 14px;
                font-weight: normal;

                >a {
                    text-decoration: underline;
                    font-weight: 600;
                }
            }
        }
    }
}

.treinamento {
    margin-top: 95px;
    gap: 57px;
    display: flex;

    >.col-1 {
        width: 50%;

        >h2 {
            color: #000000;
            margin-bottom: 49px;
        }

        >.lista {
            display: flex;
            flex-direction: column;
            gap: 24px;

            >p {
                color: #000;
                display: flex;
                align-items: center;
                gap: 17px;

                >img {
                    width: 35px;
                    height: 35px;
                }
            }
        }
    }

    >.col-2 {
        width: 50%;
        display: flex;
        align-items: center;
        gap: 16px;

        >div {
            padding: 43px 34px 40px 46px;
            width: 332px;
            max-height: 395px;
            height: 330px;
            border: 1px solid #4D4D4D28;
            border-radius: 21px;
            opacity: 1;

            >h3 {
                color: #000;
                font-weight: bold;
                margin: 40px 0 14px;
            }

            >.lista-info {
                display: flex;
                flex-direction: column;
                gap: 10px;

                >p {
                    display: flex;
                    align-items: center;
                    gap: 10px;
                    color: #000;
                }
            }
        }
    }
}

.conteudo-curso {
    margin-top: 108px;

    >h2 {
        color: #000;
        margin-bottom: 34px;
    }

    .linha {
        display: flex;
        gap: 62px;

        >.col-1 {
            width: 50%;

            >img {
                width: 100%;
                margin-bottom: 40px;
            }

            >p {
                color: #000;
            }
        }
    }
}

.custom-checkbox input[type="checkbox"] {
    display: none;
}

.custom-checkbox .checkmark {
    width: 20px;
    height: 19px;
    background-color: transparent;
    border: 2px solid #FFC107;
    border-radius: 3px;
    position: relative;
    cursor: pointer;
    margin-right: 8px;
}

.custom-checkbox input[type="checkbox"]:checked+.checkmark:after {
    content: '';
    position: absolute;
    left: 6.5px;
    top: 1px;
    width: 5px;
    height: 10px;
    border: solid #FFC107;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
}

.custom-checkbox p {
    margin: 0;
}

.custom-checkbox a.politicas {
    color: #FFC107;
    text-decoration: none;
}

.custom-checkbox a.politicas:hover {
    text-decoration: underline;
}










.accordion {
    width: 85%;
    padding: 42px 41px;
    max-width: 600px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #4D4D4D28;
    border-radius: 22px;

    > hr {
        margin: 28px 0 35px;
    }
}

.accordion-header {
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;

    >h3 {
        font-size: 22px;
        font-weight: bold;
        line-height: 30px;
        letter-spacing: -0.44px;
        color: #000000;
    }
}

.accordion-icon {
    font-size: 1.5rem;
    color: #FFC107;
}

.accordion-content {
    display: none;
    padding: 0 16px 16px;
    flex-direction: column;
    gap: 17px;


    >p {
        display: flex;
        align-items: center;
        gap: 13px;
        color: #000;

        >span {
            font-weight: bold;
            margin-right: -8px;
        }
    }
}


.accordion-content .icon {
    margin-right: 8px;
    color: #00ADEF;
}