.depoimentos-container {
    overflow: hidden;
    width: 100%;
    display: flex;
}

.depoimentos {
    display: flex;
    transition: transform 0.3s ease-in-out;
    width: 98%;
    gap: 18px;
    margin-top: 60px;
}

.depoimento-card {
    flex: 0 0 50%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 40px 51px 47px 41px;
    box-sizing: border-box;
    display: flex;
    column-gap: 28px;
    border: 1px solid #4D4D4D28;
    border-radius: 22px;

    >.col-2 {
        >.topo {
            display: flex;
            align-items: center;
            justify-content: space-between;

            >.rating {
                display: flex;
                align-items: center;
                gap: 4px;

                >.rating-star {
                    width: 23px;
                    height: 23px;
                }
            }

            >.aspas {
                width: 45px;
                height: 34px;
            }
        }

        >.info {
            >p {
                color: #000000;

                &.texto {
                    padding: 36px 0 22px;
                }

                &.curso {
                    >span {
                        font-weight: 600;
                    }
                }

                &.nome {
                    font-size: 18px;
                    font-weight: bold;
                    margin-top: 5px;
                }
            }
        }
    }
}

.depoimento-card img {
    width: 220px;
    height: 289px;
    border-radius: 10px;
}

.depoimento-card .nome {
    font-weight: bold;
    margin-top: 10px;
}

.depoimento-card .curso {
    color: #666;
}

@media only screen and (max-width: 768px) {
    .sobre-nos {
        margin: 70px 20px;
    
        >.topo {
          flex-wrap: wrap;
          justify-content: center;
    
          >.setas-navegacao {
            display: none;
          }
        }
    
        >.depoimentos-container {
            overflow: auto;

          >.depoimentos {
            margin-top: 30px;
    
            >.depoimento-card {
              flex-wrap: wrap;
              padding: 40px;

              >.col-2 {
                margin-top: 25px;

                >.info {
                    > p {
                        text-align: center;
                    }
                }
              }
            }
          }
        }
      }
}