a {
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;

    &.btn-fale {
        border-radius: 25px;
        width: 184px;
        height: 49px;
    }
}

.header-desktop {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 29px 0 55px;

    >.menu {
        display: flex;
        flex-direction: row;
        gap: 64px;
    }
}