a {
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;

    &.btn-fale {
        border-radius: 25px;
        width: 184px;
        height: 49px;
    }
}

.header-desktop {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 29px 0 55px;

    >.menu {
        display: flex;
        flex-direction: row;
        gap: 64px;
    }
}

.menu a {
    text-decoration: none;
    color: #000;
    position: relative;
}

.dropdown {
    position: relative;
}

.dropdown-content {
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #4D4D4D28;
    border-radius: 8px;
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
    overflow: hidden;
    width: 223px;
}

.dropdown-content a {
    display: block;
    padding: 10px 20px;
    text-decoration: none;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
    display: block;
}