.torne-se-expert {
  background: #030032 0% 0% no-repeat padding-box;
  border-radius: 28px;
  opacity: 1;
  display: flex;
  padding: 82px 87px 0 87px;
  height: 726px;
  max-height: 726px;

  >.col-1 {
    width: 50%;
    padding-right: 30px;

    >h3 {
      padding: 24px 0;
    }

    >.btn-actions {
      align-items: center;
      display: flex;
      column-gap: 35px;
      padding: 30px 0 0;

      >.play-video {
        display: flex;
        align-items: center;
        gap: 11px;
        font-weight: bold;
        font-size: 16px;
        line-height: 22px;
        letter-spacing: 0px;
        color: #ffffff;
        opacity: 1;
      }
    }
  }

  >.col-2 {
    width: 50%;

    >.fundo-prof {
      display: flex;
      flex-direction: column;
      position: absolute;
      width: 510px;
      height: 702px;
      background: transparent url("/assets/images/prof-limpeza-new.png") 0 0 / cover no-repeat;
      opacity: 1;
      background-position: center;
      background-size: contain;
      gap: 5px;
      justify-content: flex-end;
      padding: 0 0 64px 64px;

      >p {
        background: #009cc0 0% 0% no-repeat padding-box;
        border-radius: 4px;
        font-size: 24px;
        line-height: 32px;
        font-weight: 600;
        padding: 0 10px;
      }
    }
  }
}

/* @media only screen and (max-width: 1920px) {
    .fundo-prof {
        bottom: -35px;
    }
}

@media only screen and (min-width: 2000px) and (max-width: 2460px) {
    .fundo-prof {
        bottom: 71px;
    }
} */

.invista-em-voce {
  margin: 119px 0 101px;
  display: flex;
  flex-direction: row;
  gap: 60px;

  >.col-1 {
    width: 50%;

    >h2 {
      color: #000000;
      letter-spacing: -1px;
    }

    >p {
      color: #000000;
      padding: 18px 0 39px;
    }
  }

  >.col-2 {
    width: 50%;

    >.btn-explorar-curso {
      display: flex;
      justify-content: flex-end;
      margin-bottom: 63px;
    }

    >.cards {
      display: flex;
      flex-direction: row;
      column-gap: 16px;

      >div {
        border: 1px solid #4d4d4d28;
        border-radius: 21px;
        opacity: 1;
        width: 332px;
        max-height: 300px;
        display: flex;
        flex-direction: column;
        gap: 16px;
        padding: 46px 34px 44px 45px;

        >img {
          width: 62px;
          height: 62px;
        }

        >h3 {
          letter-spacing: -0.52px;
          color: #000000;
          font-weight: bold;
        }

        >p {
          color: #000000;
        }
      }
    }
  }
}

.horas {
  background: #4d4d4d08 0% 0% no-repeat padding-box;
  border-radius: 27px;
  opacity: 1;
  display: flex;
  flex-direction: row;
  gap: 100px;
  padding: 35px 97px 54px 96px;
  margin-bottom: 87px;

  >div {

    >h2,
    p {
      color: #000000;
    }
  }
}

.metodologia {
  background: #030032 0% 0% no-repeat padding-box;
  border-radius: 28px;
  opacity: 1;
  display: flex;
  padding: 82px 87px 0 87px;
  height: 700px;
  max-height: 700px;
  margin-top: 82px;

  >.col-1 {
    width: 50%;

    >h1 {
      font-size: 55px;
      font-weight: bold;
      line-height: 87px;

      >span {
        font-family: "Corinthia", cursive;
      }
    }

    >h3 {
      padding: 32px 0 22px;
    }

    >a {
      margin-top: 41px;
    }
  }

  >.col-2 {
    width: 50%;
    padding-left: 25px;

    >.fundo-anny {
      display: flex;
      position: absolute;
      background: transparent url(/assets/images/consultoria-anny.png) 0 0 / cover no-repeat;
      opacity: 1;
      background-position: center;
      background-size: contain;
      height: 680px;
      width: 580px;
    }
  }
}

.consultoria-palestra {
  margin-top: 94px;
  display: flex;
  align-items: center;
  gap: 35px;

  >div {
    background: #4d4d4d08 0% 0% no-repeat padding-box;
    border-radius: 32px;
    width: 714px;
    height: 620px;
    padding: 73px 105px 79px 103px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    >h2,
    h3,
    p {
      color: #000000;
    }

    >h2 {
      margin-top: 16px;
    }

    >h3 {
      margin: 22px 0 22px;
    }

    >p {
      padding: 22px 0 33px;
    }
  }
}

.is-mobile {
  display: none;
}

@media only screen and (max-width: 768px) {
  .torne-se-expert {
    margin: 0 16px;
    max-height: 1500px;
    height: 1080px;
    flex-direction: column;
    padding: 40px 20px;

    >.col-1 {
      width: 100%;

      >h1 {
        text-align: center;
      }

      >h3 {
        text-align: center;
      }

      >p {
        text-align: center;
      }

      .btn-actions {
        flex-direction: column;
        gap: 22px;
      }
    }

    >.col-2 {
      width: 100%;

      >.fundo-prof {
        width: 100%;
        position: relative;
        height: 100%;
        margin-top: 50px;
        padding: 50px 0 50px 0;

        >p {
          margin-left: 35px;
          font-size: 14px;
        }
      }
    }
  }

  .invista-em-voce {
    flex-direction: column;
    padding: 0 20px;
    margin: 80px 0;

    >.col-1 {
      width: 100%;

      >h2 {
        text-align: center;
        line-height: 33px;
      }

      >p {
        text-align: center;
      }
    }

    >.col-2 {
      width: 100%;

      >.btn-explorar-curso {
        justify-content: center;
      }

      >.cards {
        flex-wrap: wrap;
        row-gap: 16px;

        >div {
          align-items: center;

          >p {
            text-align: center;
          }
        }
      }
    }
  }

  .horas {
    flex-wrap: wrap;
    margin: 0 20px;
    padding: 35px 40px 54px;
    gap: 50px;

    >div {
      >h2 {
        text-align: center;
        font-size: 35px;
      }

      >p {
        text-align: center;
        font-size: 18px;
      }
    }
  }

  .metodologia {
    margin: 40px 20px 40px;
    padding: 40px 20px;
    display: flex;
    flex-direction: column;
    max-height: 1220px;
    height: 1220px;

    >.col-1 {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;

      >h1,
      >h3,
      >p {
        text-align: center;
      }

      >h1 {
        font-size: 32px;
      }

      >h3 {
        font-size: 20px;
      }

      >p {
        font-size: 16px;
      }
    }

    >.col-2 {
      width: 100%;
      padding-left: 0;

      >.fundo-anny {
        width: 100%;
        position: relative;
        height: 100%;
        margin-top: 30px;
        padding: 80px 0;
      }
    }
  }

  .consultoria-palestra {
    margin: 50px 40px;
    flex-wrap: wrap;

    >.consultoria,
    >.palestra {
      padding: 40px 20px;
      align-items: center;

      >h2 {
        text-align: center;
        font-size: 25px;
        line-height: 32px;
      }

      >h3 {
        text-align: center;
        font-size: 20px;
        line-height: 30px;
        margin: 10px 0;
      }

      >p {
        padding: 16px 0;
        text-align: center;
      }
    }
  }
}