.torne-se-expert {
    background: #030032 0% 0% no-repeat padding-box;
    border-radius: 28px;
    opacity: 1;
    display: flex;
    padding: 82px 87px 0 87px;
    height: 726px;
    max-height: 726px;

    >.col-1 {
        width: 50%;
        padding-right: 30px;

        >h3 {
            padding: 24px 0;
        }

        >.btn-actions {
            align-items: center;
            display: flex;
            column-gap: 35px;
            padding: 30px 0 0;

            >.play-video {
                display: flex;
                align-items: center;
                gap: 11px;
                font-weight: bold;
                font-size: 16px;
                line-height: 22px;
                letter-spacing: 0px;
                color: #FFFFFF;
                opacity: 1;
            }
        }
    }

    >.col-2 {
        width: 50%;

        >.fundo-prof {
            display: flex;
            flex-direction: column;
            position: absolute;
            width: 510px;
            height: 702px;
            background: transparent url('/assets/images/prof-limpeza.png') 0 0 / cover no-repeat;
            opacity: 1;
            background-position: center;
            background-size: contain;
            gap: 5px;
            justify-content: flex-end;
            padding: 0 0 64px 64px;

            >p {
                background: #009CC0 0% 0% no-repeat padding-box;
                border-radius: 4px;
                font-size: 24px;
                line-height: 32px;
                font-weight: 600;
                padding: 0 10px;
            }
        }
    }
}

/* @media only screen and (max-width: 1920px) {
    .fundo-prof {
        bottom: -35px;
    }
}

@media only screen and (min-width: 2000px) and (max-width: 2460px) {
    .fundo-prof {
        bottom: 71px;
    }
} */

.invista-em-voce {
    margin: 119px 0 101px;
    display: flex;
    flex-direction: row;
    gap: 60px;

    >.col-1 {
        width: 50%;

        >h2 {
            color: #000000;
            letter-spacing: -1px;
        }

        >p {
            color: #000000;
            padding: 18px 0 39px;
        }
    }

    >.col-2 {
        width: 50%;

        >.btn-explorar-curso {
            display: flex;
            justify-content: flex-end;
            margin-bottom: 63px;
        }

        >.cards {
            display: flex;
            flex-direction: row;
            column-gap: 16px;

            >div {
                border: 1px solid #4D4D4D28;
                border-radius: 21px;
                opacity: 1;
                width: 332px;
                max-height: 300px;
                display: flex;
                flex-direction: column;
                gap: 16px;
                padding: 46px 34px 44px 45px;

                >img {
                    width: 62px;
                    height: 62px;
                }

                >h3 {
                    letter-spacing: -0.52px;
                    color: #000000;
                    font-weight: bold;
                }

                >p {
                    color: #000000;
                }
            }
        }
    }
}

.horas {
    background: #4D4D4D08 0% 0% no-repeat padding-box;
    border-radius: 27px;
    opacity: 1;
    display: flex;
    flex-direction: row;
    gap: 100px;
    padding: 35px 97px 54px 96px;
    margin-bottom: 87px;

    >div {

        >h2,
        p {
            color: #000000;
        }

    }
}

.nosso-curso {

    >h2,
    p {
        color: #000000;
    }
}

/* Estilização para os crusos */
.filter-buttons {
    display: flex;
    margin-bottom: 20px;
}

.filter-button {
    border: 1px solid #4D4D4D28;
    background-color: transparent;
    border-radius: 34px;
    padding: 0 30px;
    cursor: pointer;
    margin: 0 5px;

    font-size: 16px;
    line-height: 22px;
    font-weight: 600;
    letter-spacing: 0px;
    color: #030032;
    opacity: 1;
    height: 67px;
}

.filter-button.active {
    background-color: #F8C51C;
    border: none;
}

.courses-container {
    display: flex;
    flex-wrap: wrap;
    gap: 18px;

    >.course-card {
        >h3 {
            font-weight: bold;
            letter-spacing: -0.52px;
            color: #000000;
            opacity: 1;
        }

        >div {
            >.info {
                display: flex;
                align-items: center;
                justify-content: space-between;

                >p {
                    background: #B7B7B728 0% 0% no-repeat padding-box;
                    border-radius: 6px;
                    padding: 12px;
                    text-align: left;
                    font-size: 12px;
                    line-height: 17px;
                    font-weight: 600;
                    letter-spacing: 0px;
                    color: #030032;
                    text-transform: uppercase;
                    opacity: 1;
                }

                >.valores {
                    display: flex;
                    align-items: center;
                    gap: 8px;

                    >h3 {
                        font-size: 22px;
                        font-weight: bold;
                        letter-spacing: -0.52px;
                        color: #000000;
                    }

                    >p {
                        font-size: 13px;
                        text-decoration: line-through;
                        letter-spacing: 0px;
                    }
                }
            }

            >.info-curso {
                margin: 24px 0 29px;
                display: flex;
                align-items: center;
                justify-content: space-between;

                >p {
                    display: flex;
                    align-items: center;
                    gap: 6px;
                    color: #030032;
                    font-weight: 600;
                    font-size: 14px;

                    >img {
                        width: 20px;
                        height: 16px;
                    }
                }
            }

            >h3 {
                font-weight: bold;
                letter-spacing: -0.52px;
                color: #000000;
            }
        }

        >button {
            background: #F8C51C 0% 0% no-repeat padding-box;
            border-radius: 34px;
            width: 243px;
            height: 67px;
            border: none;
            font-weight: 600;
            font-size: 16px;
            line-height: 22px;
            letter-spacing: 0px;
            color: #030032;
            opacity: 1;

            display: flex;
            justify-content: center;
            gap: 12px;
            align-items: center;

            >img {
                width: 31px;
                height: 15px;
            }
        }
    }
}

.course-card {
    border: 1px solid #4D4D4D28;
    border-radius: 22px;
    width: 332px;
    max-height: 604px;
    text-align: left;
    padding: 40px 40px 36px 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 30px;
}

.course-card img {
    width: 100%;
    border-radius: 5px;
}

.load-more {
    background-color: #000;
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    margin-top: 20px;
}